g.player {
    cursor:move;
}

g.track  path.limit {
    stroke:steelblue;
    stroke-width: 25px;
    fill:#F7F8E0;
}

g.track  path.jam-line {
    stroke:steelblue;
    stroke-width: 25px;
    fill:none;
}

g.track  path.pivot-line {
    stroke:steelblue;
    stroke-width: 25px;
    fill:none;
}

g.penalty-box .penalty-box {
    stroke:orange;
    stroke-width: 15px;
    fill:none;
}

g.bench .bench {
    stroke:#5F04B4;
    stroke-width: 15px;
    fill:none;
}
    
g.track  path.three-meters {
    stroke:darkgrey;
    stroke-width: 5px;
    fill:none;
}

g.player  circle {
    stroke:#aaaaaa;
    stroke-width: 10px;
    fill:#ffffff;
}

g.player.in-track circle {
    stroke:#819FF7;
    stroke-width: 10px;
    fill:#ffffff;
}

g.player.in-track.in-pack circle.border {
    stroke:#6bea8d;
    stroke-width: 10px;
    fill:#ffffff;
}

g.player.in-track.out-of-play circle.border {
    stroke:#819FF7;
    stroke-width: 5px;
    fill:#ffffff;
}

g.player.in-track.out-of-play .mark {
    fill-opacity:0.5;
}

.movable {
    cursor: move;
}

.noselect {
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

g.bulle path {
    fill:#fbffb1;
    fill-opacity:1;
    stroke:#402f00;
    stroke-width:3;
    stroke-linecap:round;
    stroke-linejoin:round;
    stroke-miterlimit:4;
    stroke-opacity:1;
    stroke-dasharray:none;
}

g.player g.bulle {
    display:none;
}

g.player:hover g.bulle {
    display:block;
}

g.player:hover g.bulle text{
    font-size:20px;
}

g.pack g.pack-track path {
    fill:#40ff00;
    fill-opacity:0.3;
}

g.engagement-zone path {
    stroke:#402f00;
    stroke-width:15px;
}

g.keyframe {
    cursor: pointer;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

g.keyframe rect {
    stroke: red;
    stroke-width: 10px;
    fill: white;
}

g.keyframe:hover line {
    stroke: red;
    stroke-width: 10px;
}

g.keyframe:hover text {
    display: none;
}

.shadow {
    display:none
};