g.track  path.limit {
    stroke:steelblue;
    stroke-width: 25px;
    fill:#F7F8E0;
}

g.track  path.jam-line {
    stroke:steelblue;
    stroke-width: 25px;
    fill:none;
}

g.track  path.pivot-line {
    stroke:steelblue;
    stroke-width: 25px;
    fill:none;
}

g.penalty-box .penalty-box {
    stroke:orange;
    stroke-width: 15px;
    fill:none;
}

g.bench .bench {
    stroke:#5F04B4;
    stroke-width: 15px;
    fill:none;
}
    
g.track  path.three-meters {
    stroke:darkgrey;
    stroke-width: 5px;
    fill:none;
}

g.player  circle {
    stroke:#819FF7;
    stroke-width: 10px;
    fill:#ffffff;
}

.movable {
    cursor: move;
}

.noselect {
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}
