<!doctype html>
<html lang="fr">

<head>
    <meta charset="utf-8">
    <title>Derby</title>
    <script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/angularjs/1.3.14/angular.min.js"></script>

    <script type="text/javascript" src="../lib/angular.js"></script>

    <script type="text/javascript" src="../lib/derby-simulator.js"></script>
    <script type="text/javascript" src="../lib/scene.js"></script>
    <script type="text/javascript" src="../lib/pack.js"></script>
    <script type="text/javascript" src="../lib/track.js"></script>
    <script type="text/javascript" src="../lib/team.js"></script>
    <script type="text/javascript" src="../lib/player.js"></script>
    <script type="text/javascript" src="../lib/bench.js"></script>
    <script type="text/javascript" src="../lib/penalty-box.js"></script>
    <script type="text/javascript" src="../lib/chair.js"></script>
    <script type="text/javascript" src="../lib/vector.js"></script>
    <script type="text/javascript" src="../lib/tools.js"></script>
    <script type="text/javascript" src="../lib/animation.js"></script>
    <script type="text/javascript" src="../lib/animation-bezier.js"></script>
    <script type="text/javascript" src="../lib/animation-linear.js"></script>
    <script type="text/javascript" src="../lib/keyframe.js"></script>

    <!--<link rel="stylesheet" href="../css/track.css">-->

    <!--<script type="text/javascript" src="../roller-derby-model.min.js"></script>-->
    <link rel="stylesheet" href="../roller-derby-model.min.css">

    <style>
        .keyframe {
            cursor: pointer;
        }
        
        .keyframe rect {
            stroke: red;
            stroke-width: 10px;
            fill: white;
        }
        
        .keyframe:hover line {
            stroke: red;
            stroke-width: 10px;
        }
        
        .keyframe:hover text {
            display: none;
        }
    </style>

    <script>
        angular.module('derbyApp', ['roller-derby']);
        angular.module('derbyApp').controller('ctrl', ['$scope', 'rollerDerbyModel', function ($scope, rollerDerbyModel) {
            $scope.scene = new rollerDerbyModel.Scene({
                scale: 0.3
            });

            $scope.movingCross = null;

            angular.element($scope.scene.getElement()).bind('mouseup', function () {
                $scope.movingCross = null;
            });

            angular.element($scope.scene.getElement()).bind('mousemove', function (event) {
                if ($scope.movingCross === null) return;
                var x = (event.clientX - $scope.movingCross.clientX) / $scope.scene.opt.scale;
                var y = (event.clientY - $scope.movingCross.clientY) / $scope.scene.opt.scale;

                $scope.movingCross.data.position.x += x;
                $scope.movingCross.data.position.y += y;
                $scope.movingCross.data.position.data.setAttribute('transform', 'translate(' + $scope.movingCross.data.position.x + ', ' + $scope.movingCross.data.position.y + ')');

                $scope.movingCross.clientX = event.clientX;
                $scope.movingCross.clientY = event.clientY;

            });

            $scope.players = [];
            for (var i in $scope.scene.allHumans) {
                $scope.players.push({
                    label: 'Player ' + i,
                    value: $scope.scene.allHumans[i]
                });
            }

            $scope.currentPlayer = $scope.players[0];

            $scope.addAnimationToCurrent = function () {
                $scope.currentPlayer.value.animations.push(new rollerDerbyModel.AnimationLinear());
            };

            $scope.launchAnimation = function (player, index) {
                $scope.hideAllKeyframes();
                player.selectAnimation(index);
                player.lauchAnimation(function () {
                    $scope.showKeyFrames();
                });
            };

            $scope.launchAllAnimation = function () {
                $scope.hideAllKeyframes();
                $scope.scene.launchAnimation(function () {
                    $scope.showKeyFrames();
                });
            };

            $scope.showKeyFrames = function () {
                if ($scope.currentPlayer.value.animations.length) {
                    var keyframes = $scope.currentPlayer.value.animations[0].keyFrames;
                    for (var i in keyframes) {
                        rollerDerbyModel.addStyle(keyframes[i].position.data, {
                            display: null
                        });
                    }
                }
            };

            $scope.hideAllKeyframes = function () {
                var keyframes = rollerDerbyModel.Keyframe.prototype.all;
                for (var i in keyframes) {
                    rollerDerbyModel.addStyle(keyframes[i].position.data, {
                        display: 'none'
                    });
                }
            };

            $scope.addKeyframe = function (animation) {
                var point = new rollerDerbyModel.Vector({
                    x: 0,
                    y: 0
                });
                var cross = new rollerDerbyModel.svgCross(point, 'keyframe', 60, animation.keyFrames.length + 1);
                point.data = cross;
                $scope.scene.addElement(cross);

                var keyFrame = animation.addKeyFrame(point, 1000);

                angular.element(cross).bind('mousedown', function (event) {
                    $scope.movingCross = {
                        data: keyFrame,
                        clientX: event.clientX,
                        clientY: event.clientY
                    };
                });
            }

            $scope.$watch('currentPlayer', function (newVal, oldVal) {
                $scope.hideAllKeyframes();
                $scope.showKeyFrames();

            });

            }]);
    </script>
</head>

<body ng-app="derbyApp">
    <h1>Roller Derby Track</h1>
    <div ng-controller="ctrl">
        <div roller-derby-game="scene" interactive="true" style="display:inline-block"></div>
        <div style="display:inline-block;vertical-align:top">
            <h2>Control</h2>
            <span style="cursor:pointer;background:#88dd88;padding:2px;margin:5px;display:block" ng-click="launchAllAnimation()">Test all</span>
            <select ng-model="currentPlayer" ng-options="opt as opt.label for opt in players">
            </select>
            <div>
                <div ng-repeat="animation in currentPlayer.value.animations" style="border:solid 1px gray">
                    <div>Animation {{$index+1}}</div>
                    <div ng-repeat="keyframe in animation.keyFrames" style="border:solid 1px blue; margin:5px;padding:5px">
                        <div>Keyframe {{$index+1}}</div>
                        <input ng-model="keyframe.milliseconds" type="number" placeholder="duration"></input>
                    </div>
                    <span style="cursor:pointer;background:#88dd88;padding:2px;margin:5px;display:block" ng-click="addKeyframe(animation)">Add Keyframe</span>
                    <span style="cursor:pointer;background:#88dd88;padding:2px;margin:5px;display:block" ng-click="launchAnimation(currentPlayer.value, $index)">Test</span>
                </div>
            </div>
            <span style="cursor:pointer;background:#88dd88;padding:2px;margin:5px;display:block" ng-click="addAnimationToCurrent()" ng-hide="currentPlayer.value.animations.length>0">Add animation</span>
        </div>
    </div>
</body>

</html>